:root {
    --purple_light: #8F00FF;
    --purple_dark: #04052E;

}

body {
    max-width: 1440px;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: var(--purple_light);
    color: #fff;
}

nav {
    padding-inline: 180px;
    height: 93px;
    z-index: 999;
}



nav a {
    font-size: 14px;
    color: var(--purple_dark);
}

nav .logo {
    width: 92px;
    position: absolute;
    left: 0;
    right: 0;
    top: 28px;
    margin: auto;
    margin-block: auto;
}

nav button, .bio button {
    padding: 10px 50px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.navbar_mobile {
    padding-block: 12px;
    background-color: tomato;
}

.navbar_mobile img {
    width: 40px;
}

.navbar_mobile .collapsible_menu {
    top: 83px;
    left: 12px;
    padding: 12px;
    border-radius: 4px;
    background-color: rgb(167, 132, 199);
    box-shadow: 0px 2px 2px black;
}

.collapsible_menu a {
    color: white;
}

.cover {
    margin-top: 93px;
    width: 100vw;
    height: 100vh;
    background-image: url("../resources/banner.svg");
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cover .bio {
    padding-left: 250px;
}

.cover .bio h1 {
    font-family: 'Lora', serif;
    font-weight: 600;
    font-size: 38px;
    line-height: 150%;
    color: #FFFFFF;
}

.cover img {
    width: 100vw;
    margin-top: 93px;
}

.scroll_button {
    width: 29px;
    height: 29px;
    position: absolute;
    bottom: 160px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.scroll_button img {
    width: 29px;
}

.section_hello {
    width: 100vw;
    padding-top: 168px;
    padding-bottom: 221px;
    padding-inline: 250px;
}

.section_hello h1 {
    margin-top: 109px;

}

.section_hello h1 .text {
    font-weight: 700;
    background: linear-gradient(180deg, #8E01FC 0%, #120642 157.41%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.section_hello p {
    font-weight: 300;
    font-size: 14px;
    line-height: 163.18%;
    color: #161616;
}

@media screen and (min-width: 1400px) {

    nav,
    .section_hello {
        padding-inline: 250px;
    }
}



.section_carousel {
    width: 100vw;
    padding-block: 175px;
    background-color: var(--purple_dark);
    padding-inline: 120px;
}

.section_carousel .carousel {
    margin-bottom: 90px;
    gap: 4%;
}
.section_carousel .carousel img{
    width: 467px;
}

.section_carousel .navigators {
    gap: 90px;
}



/* section four */
.section_four{
    width: 100vw;
    height: 100vh;
}
.section_four :nth-child(1){
    right: 0;
}
.section_four :nth-child(2){
    left: 0;
    bottom: 0;
}
@media screen and (max-width: 786px) {

    nav,
    .section_hello {
        padding-inline: 22px;
    }

    .cover {
        background-image: url("../resources/banner_mobile.svg");
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
    }

    .cover .bio {
        padding-left: 18px;
    }

    .cover .bio h1 span{
        font-size: 22px;
        display: block;
        line-height: 1.5;
    }
    .section_carousel{
        padding-inline: 22px;
    }
    .section_carousel img{
        padding-block: 12px;
    }
    .section_hello img{
        width: 90vw;
    }
}