:root {
    --purple_light: #8F00FF;
    --purple_dark: #04052E;

}

body {
    max-width: 1440px;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: var(--purple_light);
    color: #fff;
}

nav {
    padding-inline: 180px;
    height: 93px;
    z-index: 999;
}



nav a {
    font-size: 14px;
    color: var(--purple_dark);
}

nav .logo {
    width: 92px;
    position: absolute;
    left: 0;
    right: 0;
    top: 28px;
    margin: auto;
    margin-block: auto;
}

nav button,
.bio button {
    padding: 10px 50px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.navbar_mobile {
    padding-block: 12px;
    background-color: tomato;
}

.navbar_mobile img {
    width: 40px;
}

.navbar_mobile .collapsible_menu {
    top: 83px;
    left: 12px;
    padding: 12px;
    border-radius: 4px;
    background-color: rgb(167, 132, 199);
    box-shadow: 0px 2px 2px black;
}

.collapsible_menu a {
    color: white;
}

.cover {
    margin-top: 93px;
    width: 100vw;
    height: 100vh;
    background-image: url("../resources/banner.svg");
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cover .bio {
    padding-left: 180px;
}

.cover .bio h1 {
    font-family: 'Lora', serif;
    font-weight: 600;
    font-size: 38px;
    line-height: 150%;
    color: #FFFFFF;
}

.cover img {
    width: 100vw;
    margin-top: 93px;
}

.scroll_button {
    width: 29px;
    height: 29px;
    position: absolute;
    bottom: 160px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.scroll_button img {
    width: 29px;
}

.section_hello {
    width: 100vw;
    padding-top: 168px;
    padding-bottom: 221px;
    padding-inline: 180px;
}

.section_hello h1 {
    margin-top: 109px;

}

.section_hello h1 .text {
    font-weight: 700;
    background: linear-gradient(180deg, #8E01FC 0%, #120642 157.41%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.section_hello p {
    font-weight: 300;
    font-size: 14px;
    line-height: 163.18%;
    color: #161616;
}



.gallery_section {
    background-color: var(--purple_dark);
    padding-block: 130px;
    padding-inline: 180px;
}

.gallery_section img {
    max-width: calc(33.33% - 20px);
    margin: 0 10px;
}


/* section four */
.section_four {
    width: 100vw;
    padding-inline: 180px;
}

.section_four .content_container {
    padding-block: 220px;
}

.section_four .content_container .experience h1 {
    background: linear-gradient(180deg, #8E01FC 0%, #120642 157.41%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 42px;
}

.section_four .content_container .experience .experience_detail {
    max-width: 428px;

}

.section_four .content_container p {
    font-weight: 300;
    font-size: 14px;
    line-height: 163.18%;
    color: #161616;
}

.section_four .complex_grid_one img,
.section_four .complex_grid_two img {
    filter: drop-shadow(0px 29px 11px rgba(137, 1, 247, 0.01)) drop-shadow(0px 16px 10px rgba(137, 1, 247, 0.03)) drop-shadow(0px 7px 7px rgba(137, 1, 247, 0.04)) drop-shadow(0px 2px 4px rgba(137, 1, 247, 0.05)) drop-shadow(0px 0px 0px rgba(137, 1, 247, 0.05));
}

.section_four :nth-child(1) {
    right: 0;
}

.section_four .paragraph_full {
    margin-block: 100px;
}

.recommendation_section {
    padding-inline: 0px;
    padding-block: 184px;
    margin: 0 auto;
    text-align: center;
    background-color: #F8F8F8;
}

.recommendation_section .slide {
    width: 100%;
    height: fit-content;
    position: absolute;
    transition: 1s;
    height: max-content;
    padding-bottom: 100px;
}

.recommendation_section .slide p {
    max-width: 574px;
    margin: 0 auto;
}

/* slider */
.recommendation_section .slide img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}


.recommendation_section div {
    max-width: 940px;
    margin-inline: auto;
}

.recommendation_section h1 {
    color: #2D2D2D;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
}

.recommendation_section small {
    display: block;
    font-size: 14px;
    color: #9D9D9D;
}

.recommendation_section .carousel_button {
    cursor: pointer;
}

.section_next_program {
    width: 100vw;
}

.section_next_program .catch {
    padding-block: 150px;
    color: #fff;
    background: linear-gradient(to bottom, var(--purple_dark) 60%, white 40%);
}

.section_next_program .catch .catch_me {
    margin-bottom: 174px;
}

.section_next_program .schedule_card {
    height: max-content;
    width: max-content;
    max-width: 596px;
    margin-inline: auto;
    padding: 43px;
    border-radius: 15px;
    box-shadow: 0px 100px 40px rgba(89, 89, 89, 0.01), 0px 56px 34px rgba(89, 89, 89, 0.04), 0px 25px 25px rgba(89, 89, 89, 0.07), 0px 6px 14px rgba(89, 89, 89, 0.08), 0px 0px 0px rgba(89, 89, 89, 0.08);
}

.section_next_program .schedule_card .schedule {
    height: max-content;
    margin-right: 20px;
    padding: 20px 20px;
    border-radius: 11px;
}

.section_next_program .schedule_card .title {
    text-align: left;
    font-size: 20px;
    line-height: 35px;
    color: #04052E;
}

.section_next_program .location {
    font-size: 18px;
    line-height: 24px;
    color: #828282;
}

@media screen and (min-width: 1400px) {

    nav,
    .section_hello,
    .section_four,
    .cover .bio,
    .recommendation_section,
    .gallery_section {
        padding-inline: 250px;
    }
}

@media screen and (max-width: 786px) {
    .section_next_program .schedule_card {
        width: 80vw;
    }

    nav,
    .section_hello,
    .section_four,
    .recommendation_section,
    .gallery_section {
        padding-inline: 22px;
    }

    .gallery_section img {
        max-width: calc(100% - 20px);
        margin: 0 10px;
    }

    .cover {
        background-image: url("../resources/banner_mobile.svg");
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
    }

    .cover .bio {
        padding-left: 18px;
    }

    .cover .bio h1 span {
        font-size: 22px;
        display: block;
        line-height: 1.5;
    }



    .section_hello img {
        width: 90vw;
    }
}

/* footer section */
footer {
    padding-block: 130px;
    background-color: var(--purple_dark);
}

.form_container {
    /* background-color: #8E01FC; */
}

.form_container form input {
    width: 268px;
    height: 35px;
    border: none;
}

.form_container form button {
    margin-top: 25px;
    padding-block: 11.5px;
    background-color: var(--purple_light);
}